<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ShoppingCartMapper">
    <update id="updateNumberById">
        update shopping_cart
        set number=number+1
        where user_id=#{userId}
        <if test="dishId!=null"> and dish_id=#{dishId}</if>
        <if test="setmealId!=null"> and setmeal_id= #{setmealId}</if>
        <if test="dishFlavor!=null"> and dish_flavor= #{dishFlavor}</if>
    </update>

    <update id="subNumber">
        update shopping_cart
        set number=number-1
        where user_id= #{userId}
        <if test="dishId!=null"> and dish_id= #{dishId}</if>
        <if test="setmealId!=null"> and setmeal_id= #{setmealId}</if>
        <if test="dishFlavor!=null"> and dish_flavor= #{dishFlavor}</if>
    </update>

    <delete id="delete">
            delete from shopping_cart
            where user_id= #{userId}
            <if test="dishId!=null"> and dish_id= #{dishId}</if>
            <if test="setmealId!=null"> and setmeal_id= #{setmealId}</if>
            <if test="dishFlavor!=null"> and dish_flavor= #{dishFlavor}</if>
    </delete>


    <select id="count" resultType="java.lang.Integer">
        select count(*) from shopping_cart
        where user_id=#{userId}
        <if test="dishId!=null"> and dish_id=#{dishId}</if>
        <if test="setmealId!=null"> and setmeal_id= #{setmealId}</if>
        <if test="dishFlavor!=null"> and dish_flavor= #{dishFlavor}</if>
    </select>

    <select id="countNumber" resultType="java.lang.Integer">
        select number from shopping_cart
        where user_id= #{userId}
        <if test="dishId!=null"> and dish_id= #{dishId}</if>
        <if test="setmealId!=null"> and setmeal_id= #{setmealId}</if>
        <if test="dishFlavor!=null"> and dish_flavor= #{dishFlavor}</if>
    </select>
</mapper>
